<div class="toolbar" role="banner">
  This is another angular app
</div>
<div class="content" role="main">
  <h4>Sclinico is running on a iFrame bellow</h4>
  <div>
    <span *ngIf="isAuthenticated">
      Hello, {{username}}
    </span>
    <span *ngIf="!isAuthenticated">
      Not loggedIn
    </span>
  </div>
  <div>
    <button (click)="gotoApp()">Click here to go to login</button>
  </div>
</div>
<div>
  <iframe style="width: 1210px; height: 710px;" src="http://10.202.229.176:7778/forms90/f90servlet?config=sclinico_java"></iframe>
</div>
<router-outlet></router-outlet>
